git.ebbez.dev {
  reverse_proxy http://forgejo_server:3000
}

*.pages.ebbez.dev, pages.ebbez.dev, ebbez.dev {
  reverse_proxy http://forgejo_pages:3000
  tls {
    dns hetzner <>
    propagation_delay 30s
  }
}
