{
  admin off

  persist_config off

  auto_https disable_redirects

  on_demand_tls {
    permission http http://forgejo_pages:3001
  }
}

# on_demand_tls doesn't seem to work yet. Caddy endpoint seems to respond with 404s
https://, http:// {
  tls {
    on_demand
  }

  reverse_proxy http://forgejo_pages:3000
}

*.ebbez.dev {
  tls {
    dns hetzner {$HETZNER_DNS_API_TOKEN}
    propagation_delay 30s
  }
  reverse_proxy http://forgejo_pages:3000
}

git.ebbez.dev {
  reverse_proxy http://forgejo_server:3000
}
