{
  on_demand_tls {
    permission http http://forgejo_pages:3001
  }
}

# on_demand_tls doesn't seem to work yet. Caddy endpoint seems to respond with 404s
https://, http:// {
  tls {
    on_demand
  }

  reverse_proxy http://forgejo_pages:3000
}

{$FORGEJO_PAGES:*.example.com} {
  tls {
    dns hetzner {$HETZNER_DNS_API_TOKEN}
    propagation_delay 30s
  }
  reverse_proxy http://forgejo_pages:3000
}

{$FORGEJO:git.example.com} {
  reverse_proxy http://forgejo_server:3000
}

{$GITLAB:gitlab.example.com}, {$GITLAB_PAGES:pages.example.com} {
  reverse_proxy gitlab:80
}

{$RADICALE:radicale.example.com} {
  reverse_proxy radicale:5232
}

{$CONTINUWUITY_MATRIX:example.com} {
  reverse_proxy /_matrix/* continuwuity_server:8008
  reverse_proxy /_conduwuit/* continuwuity_server:8008
}

{$CONTINUWUITY_MATRIX:example.com}:8448 {
  reverse_proxy continuwuity_server:8008
}
