HETZNER_DNS_API_TOKEN=<HETZNER_DNS_API_TOKEN>
FORGEJO_PAGES=*.example.com
FORGEJO=git.example.com
CONTINUWUITY_MATRIX=example.com
RADICALE=radicale.example.com
GITLAB=gitlab.example.com
GITLAB_PAGES=pages.example.com
VIKUNJA=vikunja.example.com
OUTLINE=outline.example.com
