cloud.cequent.nl {
  reverse_proxy http://nextcloud-aio-apache:11000
}

cloud.cequent.nl:8443 {
  reverse_proxy https://nextcloud-aio-mastercontainer:8080 {
    transport http {
      tls_insecure_skip_verify
    }
  }
}

git.cequent.nl {
  reverse_proxy http://forgejo_server:3000
}
